header h1 {
    font-size: 56;
    font-family: 'Inter', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 8px #000007;
    padding: 40px;
    background-color: #f0f2f5;
    color: #ffffff;
    margin: 0;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center 20%;
}

.icon {
    max-width:32px;
    max-height:32px;
    margin-right: 10px;
}

html,
body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color:#faf7f2;
    color: #333333;
    padding: 0;
    margin: 0;
}

section {
    background-color: #faf7f2;
    padding: 0;
    margin: 0;
}

section h2 {
    font-size: 44;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 10px 0;
    background-color: #3a3a3a;
    color: #FFFFFF;
    margin: 0;
}

.profile-picture {
    float: left;
    margin-top: 5px;
    margin-right: 30px;
    margin-left: 10px;
    width: 240px;
    height: 240px;
    border-radius: 25%;
    border: 3px solid #333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.horizontal-list {
    display: flex;                  /* Makes the list horizontal */
    gap: 20px;                      
    padding: 0;
    margin: 0;
    list-style-type: none;          /* Removes default bullet points */
    flex-wrap: wrap;
}

.horizontal-list li {
    display: flex;                  /* Aligns icon and text horizontally */
    align-items: left;   
}

.education-section {
    display: grid;                   /* Enables grid layout */
    grid-template-columns: 1fr 1fr;  /* Creates two equal-width columns */
    gap: 10px;                       /* Space between columns */
    padding: 10px;
    margin-left: 30px;
}

.education-left, .education-right {
    padding: 10px;
}

.education-left h3, .education-right h3 {
    margin: 0 0 10px;  /* Adds spacing between the heading and list */
}

.education-left ul, .education-right ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

footer,
#contact,
#footer-heading {
    text-align: center;
    background-color: #333333;
    color: white;
    margin-bottom: 0;
    bottom: 0;
    padding: 2px
}
